{
    "/*  Fill in values for database host, port, name, user, and password!": "*/",
    "UDW": {
        "type": "PostgreSQL",
        "params": {
            "host": "",
            "port": "",
            "dbname": "",
            "user": "",
            "password": ""
        }
    },
    "OUT_DIR": "data/"
}